<center class="page-fonts">
	<section class='dash-top'>
	<h2><%= current_user.first_name %>'s dashboard | <%= link_to "Edit Profile", edit_user_registration_path, class: 'orange-link' %></h2>
	</section>

	<section class='dash-info'>
		<p><b>Username:</b> <%= link_to current_user.username, "/users/#{current_user.username}", class: 'orange-link' %></p>
		<p><b>Name:</b> <%= current_user.first_name %> <%= current_user.last_name %></p>
		<p><b>Email:</b> <%= current_user.email %></p>
		<% if current_user.paypal_me && current_user.paypal_me != "" %>
			<p>PayPalMe Account URL: <%= link_to "paypal.me/#{current_user.paypal_me}", "https://paypal.me/#{current_user.paypal_me}" %> </p>
		<% end %>
	</section>

	<section class='interests'>
		<% if current_user.interests? %>
			<h3>Interests</h3>
			<% current_user.interests.each do |interest| %>
				<li><%= interest.keyword %> | <%= link_to "Remove", destroy_interest_path(interest: interest), method: :delete, class: 'orange-link' %></li>
			<% end %>
		<% end %>
		<%= simple_form_for [:current_user, Interest.new] do |f| %>
			<div class="interest-input"><%= f.input :keyword, label: "Add an Interest" %></div>
			<%= f.button :submit, "Add to My Interests", class: 'interest-button' %>
		<% end %>
	</section>
</center>

<center>
	<div class='page-fonts'>
		<% if current_user.offers != [] %> -
			<section class='offers'>
				<% if facade.recieved_offers(current_user, 'pending') != [] %>
					<section class= 'pending-incoming-offers-table'>
						<h3>Incoming Pending Offers:</h3>
					<%= render partial: 'shared/offers', locals: {
						facade: facade,
						offers: facade.recieved_offers(current_user, 'pending'),
						user_type: 'Offered By',
						find_type: 'receive'
					} %>
					</section>
				<% end %>
				<% if facade.sent_offers(current_user, 'pending') != [] %>
					<section class= 'pending-outgoing-offers-table'>
						<h3>Outgoing Pending Offers:</h3>
					<%= render partial: 'shared/offers', locals: {
						facade: facade,
						offers: facade.sent_offers(current_user, 'pending'),
						user_type: 'Sent To',
						find_type: 'sent'
					} %>
					</section>
				<% end %>
				<% if facade.offers(current_user, 'accepted') != [] %>
					<section class= 'completed-successful-offers-table'>
						<h3>Orders Recieved History:</h3>
					<%= render partial: 'shared/offers', locals: {
						facade: facade,
						offers: facade.offers(current_user, 'accepted'),
						user_type: 'Offered By',
						find_type: 'recieve'
					} %>
					</section>
				<% end %>
				<% if facade.offers(current_user, 'declined') != [] %>
					<section class= 'completed-uncsucessful-offers-table'>
						<h3>Outgoing Orders History:</h3>
					<%= render partial: 'shared/offers', locals: {
						facade: facade ,
						offers: facade.offers(current_user, 'declined'),
						user_type: 'Sent To',
						find_type: 'sent'
					} %>
					</section>
				<% end %>
			</section>
		<% end %>
	</div>
</center>
