<section class='user-show'>
  <section class='profile-summary'>
  <h1><%= facade.username %>'s Profile</h1>
  <% if facade.reviews != [] %>
    <h3 class='small-txt'>Average Rating: <%= facade.average_rating %></h3>
  <% end %>
</section>

<% if facade.reviews != [] %>
  <section class='review-section'>
    <h1 class='review-title'>All Reviews</h1>
    <section class= 'reviews'>
      <% facade.reviews.each do |review| %>
      <center>
        <section class='review-single'>
            <p class='user-reviewer'>Reviewed by: <%= link_to "#{review.reviewer.username}", user_show_path(review.reviewer.username) %></p>
            <p class='user-rating'>Rating: <%= review.rating %></p>
            <p class='user-content'><%= review.content %></p>
        </section>
      </center>
      <% end %>
    </section>
  </section>
  <% end %>

  <% if facade.user_check?(current_user) %>
    <center>
    <section class= 'new-review'>
      <%= simple_form_for [facade.user, facade.new_review], url: new_review_path do |f| %>
        <%= f.label :leave_a_review, class: 'review-title'  %>
        <%= f.input :rating, collection: 1..5, prompt: 'Select a Rating' %>
        <%= f.input :content %>
        <%= f.button :submit, class: 'interest-button' %>
      <% end %>
    </section>
    </center>
  <% end %>

<% if facade.user_check?(current_user) && facade.events != [] %>
  <section class ='user-events'>
    <center><h1 class='review-title'> <%=current_user.username %>'s Offers</h1></center>
    <table class = 'events-table'>
      <tr>
        <th>Name</th>
        <th>Minimum Price</th>
        <th>Maximum Price</th>
        <th>Ticket Limit</th>
        <th></th>
      </tr>
      <% facade.events.each do |event| %>
        <tr>
          <td><%= event.name %></td>
          <td><%= event.price_min %></td>
          <td><%= event.price_max %></td>
          <td><%= event.limit %></td>
          <% if facade.user != current_user %>
            <td class= 'new-offer'>
              <%= link_to "Make an offer",
                    new_offer_path(facade.user.id, current_user.id,
                                   :max_quantity => event.limit), class: 'orange-link' %>
            </td>
          <% end %>
        <% end %>
      </tr>
    </table>
  </section>
<% end %>
</section>
