 <center class="page-fonts">
 <h3>Contact Us</h3>
<p>
  If you have any questions about our app or would like to contact any of our team members,
  please either reach out to us through our GitHub profiles or our Turing alumni portfolios
  linked below.
  </p>
  <p>
    <big>Corina Allen</big>
    <br /><%= link_to 'GitHub', 'https://github.com/StarPerfect', class: 'orange-link' %>
    <br /> <%= link_to 'Portfolio & Resume', 'https://alumni.turing.io/alumni/corina-allen', class: 'orange-link' %>
  <p>
    <big>Evette Telyas</big>
    <br /><%= link_to 'GitHub', 'https://github.com/evettetelyas', class: 'orange-link' %>
    <br /> <%= link_to 'Portfolio & Resume', 'https://alumni.turing.io/alumni/evette-telyas', class: 'orange-link' %>
  <p>
    <big>Tylor Schafer</big>
    <br /><%= link_to 'GitHub', 'https://github.com/tylorschafer', class: 'orange-link' %>
    <br /> <%= link_to 'Portfolio & Resume', 'https://alumni.turing.io/alumni/tylor-schafer', class: 'orange-link' %>
  <p>
    <big>Andrew Johnson</big>
    <br /><%= link_to 'GitHub', 'https://github.com/loomus', class: 'orange-link' %>
  </center>
