 <center class="page-fonts">
 <h3>Contact Us</h3>
<p>
  If you have any questions about our app or would like to contact any of our team members,
  please either reach out to us through our GitHub profiles or our Turing alumni portfolios
  linked below.
  </p>

  <section class="dev-prof-andrew">
      <big><u>Andrew Johnson</u></big><br>
      <%= link_to 'GitHub', 'https://github.com/loomus', class: 'orange-link' %>
      <section class="areas-of-focus">
        <small>
          <p><b>Areas of Focus</b></p>
          <li>Google OAuth</li>
          <li>PayPal Integration</li>
          <ul></ul><br>
        </small>
      </section>
    </section>

  <section class="dev-prof-corina">
    <big><u>Corina Allen</u></big><br>
    <%= link_to 'GitHub', 'https://github.com/StarPerfect', class: 'orange-link' %> | 
    <%= link_to 'Portfolio & Resume', 'https://alumni.turing.io/alumni/corina-allen', class: 'orange-link' %>
    <section class="areas-of-focus">
      <small>
        <p><b>Areas of Focus</b></p>
        <li>API Consumption</li>
        <li>Sinatra Microservice</li>
        <li>Twilio SMS Service</li><br>
      </small>
    </section>
  </section>

  <section class="dev-prof-evette">
    <big><u>Evette Telyas</u></big><br>
    <%= link_to 'GitHub', 'https://github.com/evettetelyas', class: 'orange-link' %> | 
    <%= link_to 'Portfolio & Resume', 'https://alumni.turing.io/alumni/evette-telyas', class: 'orange-link' %>
    <section class="areas-of-focus">
      <small>
        <p><b>Areas of Focus</b></p>
        <li>Chatroom functionality via ActionCable & Websockets</li>
        <li>Real-time offer notifications</li>
        <li>PayPal Integration</li>
        <li>Twilio SMS Service</li>
        <li>Project Ideation & Management</li>
      </small>
    </section>
  </section>

  <section class="dev-prof-tylor">
      <big><u>Tylor Schafer</u></big><br>
      <%= link_to 'GitHub', 'https://github.com/tylorschafer', class: 'orange-link' %> | 
      <%= link_to 'Portfolio & Resume', 'https://alumni.turing.io/alumni/tylor-schafer', class: 'orange-link' %>
      <section class="areas-of-focus">
        <small>
          <p><b>Areas of Focus</b></p>
          <li>Self-referrential relationships for offer functionality</li>
          <li>Sinatra Microservice and API design</li>
          <li>Database Architecture</li>
          <li>Review Functionality</li>
          <li>SDET</li>
        </small>
      </section>
    </section>
  </center>
