<!DOCTYPE html>
<html>
  <head>
    <title>Ticket Talk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <%= render partial: 'shared/navbar' %>
          <center>
          <div class="flash-message">
              <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, class: name %>
              <% end %>
            </div>
          </center>
          <div class="my-3">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
