<!DOCTYPE html>
<html>
  <head>
    <title>Ticket Talk</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render partial: 'shared/navbar' %>
    <div class="my-3">
        <center>
            <div class="flash-message">
              <% flash.each do |name, msg| %>
                <%= content_tag :div, msg, class: name %>
              <% end %>
            </div>
            </center>
            <% if current_user %>
              <% if Offer.exists? && current_user.id == (Offer.last.user_id || Offer.last.offer_user_id) %>  
              <div data-channel-subscribe="offer" data-user-id="<%= Offer.last.user_id %>">
                <div data-role="offer-notification-template">
                  <p class="new-message-template" data-role="offer-message"></p>
                </div>
              </div>
              <% end %>
            <% end %>
      <%= yield %>
    </div>
    <%= render partial: 'shared/footer' %>
</body>
</html>
